<!DOCTYPE html>
<html>
<head>
    <title>Apart &mdash; Colorlib Website Template</title>
    <% include partials/header %>
        <!-- Styles -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900|Oswald:400,700"> 
    <link rel="stylesheet" href="/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/magnific-popup.css">
    <link rel="stylesheet" href="/stylesheets/jquery-ui.css">
    <link rel="stylesheet" href="/stylesheets/owl.carousel.min.css">
    <link rel="stylesheet" href="/stylesheets/owl.theme.default.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/stylesheets/mediaelementplayer.css">
    <link rel="stylesheet" href="/stylesheets/animate.css">
    <link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="/stylesheets/fl-bigmug-line.css">
    <!-- style admin  -->
    
    <link rel="stylesheet" href="/stylesheets/aos.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
        <%-body -%>

        <script src="/javascripts/jquery-3.3.1.min.js"></script>
        <script src="/javascripts/jquery-migrate-3.0.1.min.js"></script>
        <script src="/javascripts/jquery-ui.js"></script>
        <script src="/javascripts/popper.min.js"></script>
        <script src="/javascripts/bootstrap.min.js"></script>
        <script src="/javascripts/owl.carousel.min.js"></script>
        <script src="/javascripts/mediaelement-and-player.min.js"></script>
        <script src="/javascripts/jquery.stellar.min.js"></script>
        <script src="/javascripts/jquery.countdown.min.js"></script>
        <script src="/javascripts/jquery.magnific-popup.min.js"></script>
        <script src="/javascripts/bootstrap-datepicker.min.js"></script>
        <script src="/javascripts/aos.js"></script>
        <script src="/javascripts/circleaudioplayer.js"></script>
        <script src="/javascripts/main.js"></script>
        

    
    </body>
        <% include partials/footer %>

</html>