<% layout('app/layout_admin/app.ejs') -%>
<body>
    <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h2 >Contact table</h2>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th> User </th>
                        <th> Full name </th>
                        <th> Email </th>
                        <th> Category </th>
                        <th> Message</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="py-1">
                          <img src="/images/faces-clipart/pic-1.png" alt="image" /> </td>
                        <td> Herman Beck </td>
                        <td>HermanBeck@gmail.com</td>
                        <td> Modern House </td>
                        <td> I want to rent a high-class apartment and need to refer to your gender price.  </td>
                      </tr>
                      <tr>
                        <td class="py-1">
                          <img src="/images/faces-clipart/pic-2.png" alt="image" /> </td>
                        <td> Messsy Adam </td>
                        <td>MesssyAdam@gmail.com</td>
                        <td> Villa </td>
                        <td>I want to rent a high-class apartment and need to refer to your gender price.</td>
                      </tr>
                      <tr>
                        <td class="py-1">
                          <img src="/images/faces-clipart/pic-3.png" alt="image" /> </td>
                        <td> John Richards </td>
                        <td>JohnRichards@email.com</td>
                        <td>high-class apartment </td>
                        <td>I need to refer to your gender price. </td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            
        </div>
     </div>
</body>