<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <link rel="stylesheet" href="/stylesheets/materialdesignicons.min.css">
    <link rel="stylesheet" href="/stylesheets/ionicons.css">
    <link rel="stylesheet" href="/font/typicons.css">
    <link rel="stylesheet" href="/stylesheets/flag-icon.min.css">
    <link rel="stylesheet" href="/stylesheets/vendor.bundle.base.css">
    <link rel="stylesheet" href="/stylesheets/vendor.bundle.addons.css">
    <link rel="stylesheet" href="/stylesheets/style_admin.css">
    <link rel="shortcut icon" href="/images/favicon.png" />
</head>
<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
        <div class="row w-100">
          <div class="col-lg-4 mx-auto">
            <div class="auto-form-wrapper">
              <form action="#">
                <div class="form-group">
                  <label class="label">Email</label>
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Email"  name="email" id="email">
                    <div class="input-group-append">
                      <span class="input-group-text">
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="label">Password</label>
                  <div class="input-group">
                    <input type="password" class="form-control" placeholder="*********" name="password" id="password">
                    <div class="input-group-append">
                      <span class="input-group-text">
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary submit-btn btn-block">Login</button>
                </div>
                <div class="form-group d-flex justify-content-between">
                  
                  <a href="#" class="text-small forgot-password text-black">Forgot Password</a>
                </div>
                <div class="form-group">
                  <button class="btn btn-block g-login">
                    <img class="mr-3" src="/images/icon-google.svg" alt="">Log in with Google</button>
                </div>
                
              </form>
            </div>
            <ul class="auth-footer">
              <li>
                <a href="#">Conditions</a>
              </li>
              <li>
                <a href="#">Help</a>
              </li>
              <li>
                <a href="#">Terms</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script src="/javascripts/vendor.bundle.base.js"></script>
  <script src="/javascripts/vendor.bundle.addons.js"></script>
  <script src="/javascripts/off-canvas.js"></script>
  <script src="/javascripts/md5.js"></script>
  <!-- Jquery -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-app.js"></script>

  <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
  <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-analytics.js"></script>

  <!-- Add Firebase products that you want to use -->
  <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-firestore.js"></script>
  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script>
  // Your web app's Firebase configuration
  const firebaseConfig = {
      apiKey: "AIzaSyAO0DngcVLBLaaDdWnBlHm05FMx3dOQbRE",
      authDomain: "ttcn-21561.firebaseapp.com",
      databaseURL: "https://ttcn-21561.firebaseio.com",
      projectId: "ttcn-21561",
      storageBucket: "ttcn-21561.appspot.com",
      messagingSenderId: "16636788503",
      appId: "1:16636788503:web:bd554dbe08fc0147910152",
      measurementId: "G-Q03RZHMYQL"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
  const db = firebase.firestore();
  const storageRef = firebase.storage().ref();
  </script>
  <script src="/javascripts/main/login.js"></script>
</body>
</html>