<% layout('app/layout_admin/app.ejs') -%>
<body>
    <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">News Table</h4>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Name Apart</th>
                        <th>Title</th>
                        <th>Created</th>
                        <th></th>
                        <th><button type="button" class="btn btn-outline-success">Create</button></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>The Sunshine Apartments Da Nang</td>
                        <td>This Is The Day, Party, Party!</td>
                        <td>12 May 2020</td>
                        <td><button type="button" class="btn btn-outline-primary">Delete</button></td>
                        <td><button type="button" class="btn btn-outline-primary">Edit</button></td>
                      </tr>
                      <tr>
                        <td>Richico Luxury Apartel Ocean</td>
                        <td>This Is The Day, Party, Party!</td>
                        <td>15 May 2020</td>
                        <td><button type="button" class="btn btn-outline-primary">Delete</button></td>
                        <td><button type="button" class="btn btn-outline-primary">Edit</button></td>
                      </tr>
                      <tr>
                        <td>Sumi Home </td>
                        <td>This Is The Day, Party, Party!</td>
                        <td>14 May 2020</td>
                        <td><button type="button" class="btn btn-outline-primary">Delete</button></td>
                        <td><button type="button" class="btn btn-outline-primary">Edit</button></td>
                      </tr>
                      <tr>
                        <td> Cani Beach House</td>
                        <td>This Is The Day, Party, Party!</td>
                        <td>16 May 2020</td>
                        <td><button type="button" class="btn btn-outline-primary">Delete</button></td>
                        <td><button type="button" class="btn btn-outline-primary">Edit</button></td>
                      </tr>
                      <tr>
                        <td>The Nang Suites</td>
                        <td>This Is The Day, Party, Party!</td>
                        <td>20 May 2020</td>
                        <td><button type="button" class="btn btn-outline-primary">Delete</button></td>
                        <td><button type="button" class="btn btn-outline-primary">Edit</button></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Product Table</h4>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th> Property Name </th>
                        <th> Room </th>
                        <th> Total Area </th>
                        <th> Category </th>
                        <th> Price </th>
                        <th></th>
                        <th></th>
                        <th><button type="button" class="btn btn-outline-success">Create</button></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr >
                        <td class="width_td">Cani Beach House</td>
                        <td class="width_td">
                          <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </td>
                        <td class="width_td"> Le Boi 06, Da Nang </td>
                        <td class="width_td"> Modern House </td>
                        <td class="width_td">$100,0/Nights</td>
                        <td><button type="button" class="btn btn-outline-primary">Delete</button></td>
                        <td><button type="button" class="btn btn-outline-danger">Edit</button></td>
                        <td><button type="button" class="btn btn-outline-warning">See</button></td>
                      </tr>
                      <tr>
                        <td class="width_td">Cani Beach House</td>
                        <td>
                          <div class="progress">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </td>
                        <td> Le Boi 06, Da Nang </td>
                        <td> Modern House </td>
                        <td>$100,0/Nights</td>
                        <td><button type="button" class="btn btn-outline-primary">Delete</button></td>
                        <td><button type="button" class="btn btn-outline-danger">Edit</button></td>
                        <td><button type="button" class="btn btn-outline-warning">See</button></td>
                      </tr>
                      <tr>                      </tr>
                      <tr>
                        <td class="width_td">Cani Beach House</td>
                        <td>
                          <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </td>
                        <td> Le Boi 06, Da Nang </td>
                        <td> Modern House </td>
                        <td>$100,0/Nights</td>
                        <td><button type="button" class="btn btn-outline-primary">Delete</button></td>
                        <td><button type="button" class="btn btn-outline-danger">Edit</button></td>
                        <td><button type="button" class="btn btn-outline-warning">See</button></td>
                      </tr>
                      <tr>
                        <tr>
                          <td class="width_td">Cani Beach House</td>
                          <td>
                            <div class="progress">
                              <div class="progress-bar bg-primary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </td>
                          <td> Le Boi 06, Da Nang </td>
                          <td> Modern House </td>
                          <td>$100,0/Nights</td>
                          <td><button type="button" class="btn btn-outline-primary">Delete</button></td>
                        <td><button type="button" class="btn btn-outline-danger">Edit</button></td>
                        <td><button type="button" class="btn btn-outline-warning">See</button></td>
                        </tr>
                        <tr>
                          <tr>
                            <td class="width_td">Cani Beach House</td>
                            <td>
                              <div class="progress">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </td>
                            <td> Le Boi 06, Da Nang </td>
                            <td> Modern House </td>
                            <td>$100,0/Nights</td>
                            <td><button type="button" class="btn btn-outline-primary">Delete</button></td>
                        <td><button type="button" class="btn btn-outline-danger">Edit</button></td>
                        <td><button type="button" class="btn btn-outline-warning">See</button></td>
                          </tr>
                          <tr>
                            <td class="width_td">Cani Beach House</td>
                            <td>
                              <div class="progress">
                                <div class="progress-bar bg-info" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </td>
                            <td> Le Boi 06, Da Nang </td>
                            <td> Modern House </td>
                            <td>$100,0/Nights</td>
                            <td><button type="button" class="btn btn-outline-primary">Delete</button></td>
                        <td><button type="button" class="btn btn-outline-danger">Edit</button></td>
                        <td><button type="button" class="btn btn-outline-warning">See</button></td>
                          </tr>
                          <tr>
                            <tr>
                              <td class="width_td">Cani Beach House</td>
                              <td>
                                <div class="progress">
                                  <div class="progress-bar bg-warning" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                              </td>
                              <td> Le Boi 06, Da Nang </td>
                              <td> Modern House </td>
                              <td>$100,0/Nights</td>
                              <td><button type="button" class="btn btn-outline-primary">Delete</button></td>
                        <td><button type="button" class="btn btn-outline-danger">Edit</button></td>
                        <td><button type="button" class="btn btn-outline-warning">See</button></td>
                            </tr>
                            <tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>