<% layout('app/layout_admin/app.ejs') -%>
<body>
    <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">User table</h4>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th> ID</th>
                  <th> User </th>
                  <th> Password </th>
                  <th> Email </th>
                  <th> Progress </th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td> 1 </td>
                  <td> Herman Beck </td>
                  <td>sha1$3I7HRwy7$cbfdac6008f9cab4083784cbd17</td>
                  <td> Hermanbeck@gmail.com </td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </td>
                  <td><button type="button" class="btn btn-outline-primary">Edit</button></td>
                        <td><button type="button" class="btn btn-outline-danger">Delete</button></td>
                        <td><button type="button" class="btn btn-outline-warning">See</button></td>
                </tr>
                <tr>
                  <td> 2 </td>
                  <td> Messsy Adam </td>
                  <td>  sha1$3I7HRwy7$cbfdac6008f9cab4083784cbd17</td>
                  <td> Messsyadam@gmail.com </td>
                  <td>
                    <div class="progress">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                  </td>
                  <td><button type="button" class="btn btn-outline-primary">Edit</button></td>
                        <td><button type="button" class="btn btn-outline-danger">Delete</button></td>
                        <td><button type="button" class="btn btn-outline-warning">See</button></td>
                </tr>
                <tr>
                  <td> 3 </td>
                  <td> John Richards </td>
                  <td> sha1$3I7HRwy7$cbfdac6008f9cab4083784cbd17</td>
                  <td> JohnRichards@gmail.com </td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar bg-warning" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </td>
                  <td><button type="button" class="btn btn-outline-primary">Edit</button></td>
                        <td><button type="button" class="btn btn-outline-danger">Delete</button></td>
                        <td><button type="button" class="btn btn-outline-warning">See</button></td>
                </tr>
                <tr>
                  <td> 4 </td>
                  <td> Peter Meggik </td>
                  <td> sha1$3I7HRwy7$cbfdac6008f9cab4083784cbd17</td>
                  <td>  PeterMeggik@gmail.com </td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar bg-primary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </td>
                  <td><button type="button" class="btn btn-outline-primary">Edit</button></td>
                        <td><button type="button" class="btn btn-outline-danger">Delete</button></td>
                        <td><button type="button" class="btn btn-outline-warning">See</button></td>
                </tr>
                <tr>
                  <td> 5 </td>
                  <td> Edward </td>
                  <td> sha1$3I7HRwy7$cbfdac6008f9cab4083784cbd17</td>
                  <td> Edward@gmail.com </td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar bg-danger" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </td>
                  <td><button type="button" class="btn btn-outline-primary">Edit</button></td>
                        <td><button type="button" class="btn btn-outline-danger">Delete</button></td>
                        <td><button type="button" class="btn btn-outline-warning">See</button></td>
                </tr>
                <tr>
                  <td> 6 </td>
                  <td> John Doe </td>
                  <td> sha1$3I7HRwy7$cbfdac6008f9cab4083784cbd17 </td>
                  <td> JohnDoe@gmail.com </td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar bg-info" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </td>
                  <td><button type="button" class="btn btn-outline-primary">Edit</button></td>
                        <td><button type="button" class="btn btn-outline-danger">Delete</button></td>
                        <td><button type="button" class="btn btn-outline-warning">See</button></td>
                </tr>
                <tr>
                  <td> 7 </td>
                  <td> Henry Tom </td>
                  <td>sha1$3I7HRwy7$cbfdac6008f9cab4083784cbd17</td>
                  <td> HenryTom@gmail.com  </td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar bg-warning" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </td>
                  <td><button type="button" class="btn btn-outline-primary">Edit</button></td>
                        <td><button type="button" class="btn btn-outline-danger">Delete</button></td>
                        <td><button type="button" class="btn btn-outline-warning">See</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      </div>
      </div>
      </div>
</body>