<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/stylesheets/materialdesignicons.min.css">
    <link rel="stylesheet" href="/stylesheets/ionicons.css">
    <link rel="stylesheet" href="/font/typicons.css">
    <link rel="stylesheet" href="/stylesheets/flag-icon.min.css">
    <link rel="stylesheet" href="/stylesheets/vendor.bundle.base.css">
    <link rel="stylesheet" href="/stylesheets/vendor.bundle.addons.css">
    <link rel="stylesheet" href="/stylesheets/style_admin.css">
    <link rel="stylesheet" href="/stylesheets/style_demo1.css">
    <link rel="stylesheet" href="/stylesheets/all.css">
    <link rel="shortcut icon" href="/images/favicon.png" />
</head>
<body>
    <div class="container-scroller">
        <% include partials/navbar %>
        <div class="container-fluid page-body-wrapper">
           <% include partials/sidebar %>
           <%-body -%>
        </div>
    </div>
    <script src="/javascripts/vendor.bundle.base.js"></script>
    <script src="/javascripts/vendor.bundle.addons.js"></script>
    <script src="/javascripts/off-canvas.js"></script>
    <script src="/javascripts/misc.js"></script>
    <script src="/javascripts/dashboard.js"></script>
    <script src="/javascripts/chart.js"></script>
</body>
</html>