<% layout('app/layout/app.ejs') -%>
 
 <body>
    <div class="site-blocks-cover inner-page-cover overlay" style="background-image: url('/images/hero_bg_1.jpg');"
    data-aos="fade" data-stellar-background-ratio="0.5" data-aos="fade">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-7 text-center" data-aos="fade-up" data-aos-delay="400">
          <h1 class="text-white">Marga Luxury Suite</h1>
          <p>$100,00/</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
      <div class="featured-property-half d-flex">
        <div class="image" style="background-image: url('/images/hero_bg_1.jpg')"></div>
        <div class="text">
          <h2>Cani Beach House</h2>
          <p class="mb-5">
            Nằm cách bãi biển Mỹ Khê vài bước chân , Cani Beach House có chỗ nghỉ, nhà hàng, hồ bơi ngoài trời, sảnh khách chung và khu vườn. Chỗ nghỉ này cung cấp WiFi miễn phí trong toàn bộ khuôn viên.
           <br> 
           Các căn hộ tại đây có sàn lát gỗ, bếp đầy đủ tiện nghi với tủ lạnh, khu vực ăn uống, truyền hình cáp màn hình phẳng và phòng tắm riêng đi kèm vòi sen cùng máy sấy tóc. Bếp nấu và ấm đun nước cũng được trang bị cho khách sử dụng.
          <br> 
          Khách sạn căn hộ này phục vụ bữa sáng à la carte hàng ngày.
          <br>
          Cani Beach House có sân hiên.
          <br>
          Du khách có thể thuê xe đạp và xe hơi tại chỗ nghỉ.
          <br>
          Cani Beach House cách Cầu Sông Hàn 3,7 km và Cầu tàu Tình Yêu 4,3 km. Sân bay gần nhất là sân bay quốc tế Đà Nẵng, nằm trong bán kính 8 km từ khách sạn căn hộ này, và chỗ nghỉ cung cấp dịch vụ đưa đón sân bay với một khoản phụ phí.
          <br>
          Chúng tôi sử dụng ngôn ngữ của bạn! 
          </p>
          <ul class="property-list-details mb-5">
            <li class="text-black">Property Name: <strong class="text-black">Marga Luxury Suite</strong></li>
            <li>Room: <strong>6</strong></li>
            <li>Total Area: <strong> Le Boi 06, Da Nang</strong></li>
            <li>Category: <strong>Modern House</strong></li>
            <li>Price:   <strong> $100,0/Nights </strong></li>
          </ul>
          <p><a href="contact" class="btn btn-primary px-4 py-3">Contact Us</a></p>
        </div>
      </div>
    </div>



    
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="site-section-heading text-center mb-5 w-border col-md-6 mx-auto">
            <h2 class="mb-5">Browse Apartments</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, fugit nam obcaecati fuga itaque deserunt
              officia, error reiciendis ab quod?</p>
          </div>
        </div>
        <div class="row">

          <div class="col-md-6 col-lg-3 mb-5" data-aos="fade-up" data-aos-delay="100">
            <a href="detail" class="unit-9">
              <div class="image" style="background-image: url('/images/img_1.jpg');"></div>
              <div class="unit-9-content">
                <h2>Nashville</h2>
                <span >$90/days</span>
                <!-- <span>with Wendy Matos</span> -->
              </div>
            </a>
          </div>

          <div class="col-md-6 col-lg-3 mb-5" data-aos="fade-up" data-aos-delay="200">
            <a href="detail" class="unit-9">
              <div class="image" style="background-image: url('/images/img_2.jpg');"></div>
              <div class="unit-9-content">
                <h2>Baltimore</h2>
                <span>$230/night</span>
              </div>
            </a>
          </div>
          <div class="col-md-6 col-lg-3 mb-5" data-aos="fade-up" data-aos-delay="300">
            <a href="detail" class="unit-9">
              <div class="image" style="background-image: url('/images/img_3.jpg');"></div>
              <div class="unit-9-content">
                <h2>Austin</h2>
                <span>$130/night</span>
              </div>
            </a>
          </div>
          <div class="col-md-6 col-lg-3 mb-5" data-aos="fade-up" data-aos-delay="400">
            <a href="detail" class="unit-9">
              <div class="image" style="background-image: url('/images/img_4.jpg');"></div>
              <div class="unit-9-content">
                <h2>Atlanta</h2>
                <span>$150/night</span>
              </div>
            </a>
          </div>


          <div class="col-md-6 col-lg-3 mb-5" data-aos="fade-up" data-aos-delay="100">
            <a href="detail" class="unit-9">
              <div class="image" style="background-image: url('/images/img_1.jpg');"></div>
              <div class="unit-9-content">
                <h2>Nashville</h2>
                <span>$130/night</span>
                <!-- <span>with Wendy Matos</span> -->
              </div>
            </a>
          </div>

          <div class="col-md-6 col-lg-3 mb-5" data-aos="fade-up" data-aos-delay="200">
            <a href="detail" class="unit-9">
              <div class="image" style="background-image: url('/images/img_2.jpg');"></div>
              <div class="unit-9-content">
                <h2>Baltimore</h2>
                <span>$230/night</span>
              </div>
            </a>
          </div>
          <div class="col-md-6 col-lg-3 mb-5" data-aos="fade-up" data-aos-delay="300">
            <a href="detail" class="unit-9">
              <div class="image" style="background-image: url('/images/img_3.jpg');"></div>
              <div class="unit-9-content">
                <h2>Austin</h2>
                <span>$130/night</span>
              </div>
            </a>
          </div>
          <div class="col-md-6 col-lg-3 mb-5" data-aos="fade-up" data-aos-delay="400">
            <a href="detail" class="unit-9">
              <div class="image" style="background-image: url('/images/img_4.jpg');"></div>
              <div class="unit-9-content">
                <h2>Atlanta</h2>
                <span>$150/night</span>
              </div>
            </a>
          </div>

          
        </div>
      </div>
    </div>
    

    
    <div class="site-section">

      <div class="container">

        <div class="row">
          <div class="site-section-heading text-center mb-5 w-border col-md-6 mx-auto" data-aos="fade-up">
            <h2 class="mb-5">Featured Apartments</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, fugit nam obcaecati fuga itaque deserunt officia, error reiciendis ab quod?</p>
          </div>
        </div>
        
        <div class="site-block-retro d-block d-md-flex">

          <a href="#" class="col1 unit-9 no-height" data-aos="fade-up" data-aos-delay="100">
            <div class="image" style="background-image: url('/images/img_2.jpg');"></div>
            <div class="unit-9-content">
              <h2>Baltimore Apartment</h2>
              <span>$600/night</span>
            </div>
          </a>

          <div class="col2 ml-auto">

            <a href="#" class="col2-row1 unit-9 no-height" data-aos="fade-up" data-aos-delay="200">
              <div class="image" style="background-image: url('/images/img_3.jpg');"></div>
              <div class="unit-9-content">
                <h2>Austin Apartment</h2>
                <span>$290/night</span>
              </div>
            </a>

            <a href="#" class="col2-row2 unit-9 no-height" data-aos="fade-up" data-aos-delay="300">
              <div class="image" style="background-image: url('/images/img_1.jpg');"></div>
              <div class="unit-9-content">
                <h2>Atlanta Apartment</h2>
                <span>$1,290/night</span>
              </div>
            </a>

          </div>

        </div>
        
      </div>
    </div>

    
    <div class="site-section block-13">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="site-section-heading text-center mb-5 w-border col-md-6 mx-auto">
            <h2 class="mb-5">Love By Our Customers</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, fugit nam obcaecati fuga itaque deserunt officia, error reiciendis ab quod?</p>
          </div>
        </div>
        <div class="nonloop-block-13 owl-carousel">
          
          <div class="text-center p-3 p-md-5 bg-white">
            <div class="mb-4">            
              <img src="/images/person_1.jpg" alt="Image" class="w-50 mx-auto img-fluid rounded-circle">
            </div>
            <div class="text-black">
              <h3 class="font-weight-light h5">Megan Smith</h3>
              <p class="font-italic">&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, iusto. Aliquam illo, cum sed ea? Ducimus quos, ea?&rdquo;</p>
            </div>
          </div>

          <div class="text-center p-3 p-md-5 bg-white">
            <div class="mb-4">            
              <img src="/images/person_2.jpg" alt="Image" class="w-50 mx-auto img-fluid rounded-circle">
            </div>
            <div class="text-black">
              <h3 class="font-weight-light h5">Brooke Cagle</h3>
              <p class="font-italic">&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, iusto. Aliquam illo, cum sed ea? Ducimus quos, ea?&rdquo;</p>
            </div>
          </div>

          <div class="text-center p-3 p-md-5 bg-white">
            <div class="mb-4">            
              <img src="/images/person_3.jpg" alt="Image" class="w-50 mx-auto img-fluid rounded-circle">
            </div>
            <div class="text-black">
              <h3 class="font-weight-light h5">Philip Martin</h3>
              <p class="font-italic">&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, iusto. Aliquam illo, cum sed ea? Ducimus quos, ea?&rdquo;</p>
            </div>
          </div>

          <div class="text-center p-3 p-md-5 bg-white">
            <div class="mb-4">            
              <img src="/images/person_1.jpg" alt="Image" class="w-50 mx-auto img-fluid rounded-circle">
            </div>
            <div class="text-black">
              <h3 class="font-weight-light h5">Steven Ericson</h3>
              <p class="font-italic">&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, iusto. Aliquam illo, cum sed ea? Ducimus quos, ea?&rdquo;</p>
            </div>
          </div>

          <div class="text-center p-3 p-md-5 bg-white">
            <div class="mb-4">            
              <img src="/images/person_2.jpg" alt="Image" class="w-50 mx-auto img-fluid rounded-circle">
            </div>
            <div class="text-black">
              <h3 class="font-weight-light h5">Nathan Dumlao</h3>
              <p class="font-italic">&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, iusto. Aliquam illo, cum sed ea? Ducimus quos, ea?&rdquo;</p>
            </div>
          </div>

          <div class="text-center p-3 p-md-5 bg-white">
            <div class="mb-4">            
              <img src="/images/person_4.jpg" alt="Image" class="w-50 mx-auto img-fluid rounded-circle">
            </div>
            <div class="text-black">
              <h3 class="font-weight-light h5">Brook Smith</h3>
              <p class="font-italic">&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, iusto. Aliquam illo, cum sed ea? Ducimus quos, ea?&rdquo;</p>
            </div>
          </div>

        </div>
      </div>
    </div>  
   
  </div>
    
  </body>
</html>