<% layout('app/layout/app.ejs') -%>
<body>
    <div class="site-blocks-cover inner-page-cover overlay" style="background-image: url('/images/hero_bg_1.jpg');"
    data-aos="fade" data-stellar-background-ratio="0.5" data-aos="fade">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-7 text-center" data-aos="fade-up" data-aos-delay="400">
          <h1 class="text-white">BROWSE APARTMENTS</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
      </div>
    </div>
  </div>
    <div class="site-section">
        <div class="container">
          <div class="row">
            <div class="site-section-heading text-center mb-5 w-border col-md-6 mx-auto">
              <h2 class="mb-5">Browse Apartments</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, fugit nam obcaecati fuga itaque deserunt
                officia, error reiciendis ab quod?</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="100">
              <a href="#" class="unit-9">
                <div class="image" style="background-image: url('/images/all01.jpg');"></div>
                <div class="unit-9-content">
                  <h2>Ngu hanh son</h2>
                  <span>$1300/month</span>
                </div>
              </a>
            </div>
            <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
              <a href="#" class="unit-9">
                <div class="image" style="background-image: url('/images/all03.jpg');"></div>
                <div class="unit-9-content">
                  <h2>Hue</h2>
                  <span>$2300/month</span>
                </div>
              </a>
            </div>
            <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
              <a href="#" class="unit-9">
                <div class="image" style="background-image: url('/images/all17.jpg');"></div>
                <div class="unit-9-content">
                  <h2>Hue</h2>
                  <span>$1300/month</span>
                </div>
              </a>
            </div>
            <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="400">
            <a href="#" class="unit-9">
                <div class="image" style="background-image: url('/images/all04.jpg');"></div>
                <div class="unit-9-content">
                <h2>Hai Chau</h2>
                <span>$1500/month</span>
                </div>
            </a>
            </div>
    
            <div class="col-md-12 text-center mt-5" data-aos="fade-up">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="100">
              <a href="#" class="unit-9">
                <div class="image" style="background-image: url('/images/all21.jpg');"></div>
                <div class="unit-9-content">
                  <h2>Hue</h2>
                  <span>$1300/month</span>
                </div>
              </a>
            </div>
            <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
              <a href="#" class="unit-9">
                <div class="image" style="background-image: url('/images/all02.jpg');"></div>
                <div class="unit-9-content">
                  <h2>Hai Chau</h2>
                  <span>$2300/month</span>
                </div>
              </a>
            </div>
            <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
              <a href="#" class="unit-9">
                <div class="image" style="background-image: url('/images/all3.jpg');"></div>
                <div class="unit-9-content">
                  <h2>hoi an</h2>
                  <span>$1300/month</span>
                </div>
              </a>
            </div>
            <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="400">
            <a href="#" class="unit-9">
                <div class="image" style="background-image: url('/images/all4.jpg');"></div>
                <div class="unit-9-content">
                <h2>Ngu Hanh Son</h2>
                <span>$1500/month</span>
                </div>
            </a>
            </div>
    
            <div class="col-md-12 text-center mt-5" data-aos="fade-up">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="100">
              <a href="#" class="unit-9">
                <div class="image" style="background-image: url('/images/all5.jpg');"></div>
                <div class="unit-9-content">
                  <h2>Ngu hanh son</h2>
                  <span>$1300/month</span>
                </div>
              </a>
            </div>
            <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
              <a href="#" class="unit-9">
                <div class="image" style="background-image: url('/images/all6.jpg');"></div>
                <div class="unit-9-content">
                  <h2>Son Tra</h2>
                  <span>$2300/month</span>
                </div>
              </a>
            </div>
            <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
              <a href="#" class="unit-9">
                <div class="image" style="background-image: url('/images/all7.jpg');"></div>
                <div class="unit-9-content">
                  <h2>Hai Chau</h2>
                  <span>$1300/month</span>
                </div>
              </a>
            </div>
            <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="400">
            <a href="#" class="unit-9">
                <div class="image" style="background-image: url('/images/all8.jpg');"></div>
                <div class="unit-9-content">
                <h2>Thanh Khe</h2>
                <span>$1500/month</span>
                </div>
            </a>
            </div>
    
            <div class="col-md-12 text-center mt-5" data-aos="fade-up">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="100">
              <a href="#" class="unit-9">
                <div class="image" style="background-image: url('/images/all9.jpg');"></div>
                <div class="unit-9-content">
                  <h2>Son Tra</h2>
                  <span>$1300/month</span>
                </div>
              </a>
            </div>
            <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
              <a href="#" class="unit-9">
                <div class="image" style="background-image: url('/images/all10.jpg');"></div>
                <div class="unit-9-content">
                  <h2>Hai Chau</h2>
                  <span>$2300/month</span>
                </div>
              </a>
            </div>
            <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
              <a href="#" class="unit-9">
                <div class="image" style="background-image: url('/images/all11.jpg');"></div>
                <div class="unit-9-content">
                  <h2>Thanh Khe</h2>
                  <span>$1300/month</span>
                </div>
              </a>
            </div>
            <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="400">
            <a href="#" class="unit-9">
                <div class="image" style="background-image: url('/images/all12.jpg');"></div>
                <div class="unit-9-content">
                <h2>Hoi An</h2>
                <span>$1500/month</span>
                </div>
            </a>
            </div>
    
            <div class="col-md-12 text-center mt-5" data-aos="fade-up">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="100">
              <a href="#" class="unit-9">
                <div class="image" style="background-image: url('/images/all13.jpg');"></div>
                <div class="unit-9-content">
                  <h2>hoi an</h2>
                  <span>$1300/month</span>
                </div>
              </a>
            </div>
            <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
              <a href="#" class="unit-9">
                <div class="image" style="background-image: url('/images/all14.jpg');"></div>
                <div class="unit-9-content">
                  <h2>Thanh Khe</h2>
                  <span>$2300/month</span>
                </div>
              </a>
            </div>
            <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
              <a href="#" class="unit-9">
                <div class="image" style="background-image: url('/images/all15.jpg');"></div>
                <div class="unit-9-content">
                  <h2>Son Tra</h2>
                  <span>$1300/month</span>
                </div>
              </a>
            </div>
            <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="400">
            <a href="#" class="unit-9">
                <div class="image" style="background-image: url('/images/all16.jpg');"></div>
                <div class="unit-9-content">
                <h2>Hue</h2>
                <span>$1500/month</span>
                </div>
            </a>
            </div>
    
            <div class="col-md-12 text-center mt-5" data-aos="fade-up">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="100">
              <a href="#" class="unit-9">
                <div class="image" style="background-image: url('/images/all18.jpg');"></div>
                <div class="unit-9-content">
                  <h2>Son Tra</h2>
                  <span>$1300/month</span>
                </div>
              </a>
            </div>
            <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
              <a href="#" class="unit-9">
                <div class="image" style="background-image: url('/images/all19.jpg');"></div>
                <div class="unit-9-content">
                  <h2>hoi an</h2>
                  <span>$2300/month</span>
                </div>
              </a>
            </div>
            <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
              <a href="#" class="unit-9">
                <div class="image" style="background-image: url('/images/all20.jpg');"></div>
                <div class="unit-9-content">
                  <h2>Hoi An</h2>
                  <span>$1300/month</span>
                </div>
              </a>
            </div>
            <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="400">
            <a href="#" class="unit-9">
                <div class="image" style="background-image: url('/images/all21.jpg');"></div>
                <div class="unit-9-content">
                <h2>hoi an</h2>
                <span>$1500/month</span>
                </div>
            </a>
            </div>
    
            <div class="col-md-12 text-center mt-5" data-aos="fade-up">
              <a href="#" class="btn btn-primary">See more</a>
            </div>
          </div>
        </div>
      </div> 
      <div class="container mb-5" data-aos="fade-up">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="site-block-27">
              <ul>
                <li><a href="#">&lt;</a></li>
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">&gt;</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
</body>
