<% layout('app/layout/app.ejs') -%>
<div class="site-blocks-cover overlay" style="background-image: url('/images/hero_bg_2.jpg');" data-aos="fade" data-stellar-background-ratio="0.5" data-aos="fade">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-8 text-center" data-aos="fade-up" data-aos-delay="400">
            <h1 class="mb-4">Excellent Space For Your Next Home</h1>
            <p class="mb-5">01 Tạ Mỹ Duật - Phường An Hải Bắc, Quận Sơn Trà , Đà Nẵng
            </p>
            <p><a href="#" class="btn btn-primary px-5 py-3">Take a Tour</a></p>
          </div>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="featured-property-half d-flex">
        <div class="image" style="background-image: url('/images/hero_bg_1.jpg')"></div>
        <div class="text">
          <h2>Lem's coffee & apartment</h2>
          <p class="mb-5">
            Providing garden views, Lem's coffee & apartment in Danang provides accommodations, free bikes, a bar, a shared lounge, a garden and a terrace.
          </p>
          <p>
          The apartment offers a seating area with a flat-screen TV and a private bathroom with a hairdryer, free toiletries and shower. Some units include a dining area and/or a balcony.
          </p>
          <p>
            à la carte and American breakfast options are available daily at Lem's coffee & apartment.
          </p>
          <ul class="property-list-details mb-5">
            <li class="text-black">Property Name: <strong class="text-black">Marga Luxury Suite</strong></li>
            <li>Room: <strong>5</strong></li>
            <li>Total Area: <strong>25 Phuoc My 1, Son Tra, Da Nang</strong></li>
            <li>Category: <strong>Modern House</strong></li>
            <li>Lunch Date: Jun 29, 2020<strong></strong></li>
          </ul>
          <p><a href="#" class="btn btn-primary px-4 py-3">Get Details</a></p>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="site-section-heading text-center mb-5 w-border col-md-6 mx-auto">
            <h2 class="mb-5">Browse Apartments</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, fugit nam obcaecati fuga itaque deserunt
              officia, error reiciendis ab quod?</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="100">
            <a href="#" class="unit-9">
              <div class="image" style="background-image: url('/images/img_1.jpg');"></div>
              <div class="unit-9-content">
                <h2>Thanh Khe</h2>
                <span>$1350/month</span>
                <!-- <span>with Wendy Matos</span> -->
              </div>
            </a>
          </div>

          <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
            <a href="#" class="unit-9">
              <div class="image" style="background-image: url('/images/img_2.jpg');"></div>
              <div class="unit-9-content">
                <h2>Son Tra</h2>
                <span>$2030/month</span>
              </div>
            </a>
          </div>
          <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
            <a href="#" class="unit-9">
              <div class="image" style="background-image: url('/images/img_3.jpg');"></div>
              <div class="unit-9-content">
                <h2>Hai Chau</h2>
                <span>$1300/month</span>
              </div>
            </a>
          </div>
          <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="400">
            <a href="#" class="unit-9">
              <div class="image" style="background-image: url('/images/img_4.jpg');"></div>
              <div class="unit-9-content">
                <h2>Ngu Hanh Son</h2>
                <span>$1500/month</span>
              </div>
            </a>
          </div>

          <div class="col-md-12 text-center mt-5" data-aos="fade-up">
            <a href="/all-apart" class="btn btn-primary">Browse All Apartments</a>
          </div>
        </div>
      </div>
    </div>
    

    
    <div class="site-section">

      <div class="container">

        <div class="row">
          <div class="site-section-heading text-center mb-5 w-border col-md-6 mx-auto" data-aos="fade-up">
            <h2 class="mb-5">Featured Apartments</h2>
            <p>Looking for a space of your own ?</p>
          </div>
        </div>
        
        <div class="site-block-retro d-block d-md-flex">

          <a href="#" class="col1 unit-9 no-height" data-aos="fade-up" data-aos-delay="100">
            <div class="image" style="background-image: url('/images/all02.jpg');"></div>
            <div class="unit-9-content">
              <h2>Baltimore Apartment</h2>
              <span>$6000/month</span>
            </div>
          </a>

          <div class="col2 ml-auto">

            <a href="#" class="col2-row1 unit-9 no-height" data-aos="fade-up" data-aos-delay="200">
              <div class="image" style="background-image: url('/images/all18.jpg');"></div>
              <div class="unit-9-content">
                <h2>Austin Apartment</h2>
                <span>$2900/month</span>
              </div>
            </a>

            <a href="#" class="col2-row2 unit-9 no-height" data-aos="fade-up" data-aos-delay="300">
              <div class="image" style="background-image: url('/images/all21.jpg');"></div>
              <div class="unit-9-content">
                <h2>Atlanta Apartment</h2>
                <span>$1,2900/month</span>
              </div>
            </a>

          </div>

        </div>
        
      </div>
    </div>

    
    <div class="site-section block-13">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="site-section-heading text-center mb-5 w-border col-md-6 mx-auto">
            <h2 class="mb-5">Love By Our Customers</h2>
            <p>Looking for a space of your own ?</p>
          </div>
        </div>
        <div class="nonloop-block-13 owl-carousel">
          
          <div class="text-center p-3 p-md-5 bg-white">
            <div class="mb-4">            
              <img src="/images/person_1.jpg" alt="Image" class="w-50 mx-auto img-fluid rounded-circle">
            </div>
            <div class="text-black">
              <h3 class="font-weight-light h5">Megan Smith</h3>
              <p class="font-italic">&ldquo;Nhà mới rất phong cách độc lạ. Sạch sẽ nhân viên thân thiện. Các quán ăn và dịch vụ xung quanh rất gần tiện di chuyển đi các nơi&rdquo;</p>
            </div>
          </div>

          <div class="text-center p-3 p-md-5 bg-white">
            <div class="mb-4">            
              <img src="/images/person_2.jpg" alt="Image" class="w-50 mx-auto img-fluid rounded-circle">
            </div>
            <div class="text-black">
              <h3 class="font-weight-light h5">Brooke Cagle</h3>
              <p class="font-italic">&ldquo;Gần biển. Nhà mới rất sạch sẽ nhận viên và chủ nhà rất thân thiện. Hỗ trợ hướng dẫn nhiệt tình những chỗ ăn chơi. Cám ơn chủ nhà thân thiện nhất định sẽ giới thiệu bạn bè và ghé nghỉ nếu có dịp&rdquo;</p>
            </div>
          </div>

          <div class="text-center p-3 p-md-5 bg-white">
            <div class="mb-4">            
              <img src="/images/person_3.jpg" alt="Image" class="w-50 mx-auto img-fluid rounded-circle">
            </div>
            <div class="text-black">
              <h3 class="font-weight-light h5">Philip Martin</h3>
              <p class="font-italic">&ldquo;Popular points of interest near the condo hotel include Cham Museum, Indochina Riverside Mall and Love Lock Bridge Da Nang. The nearest airport is Da Nang International Airport, 3.2 km from Sumi Home.&rdquo;</p>
            </div>
          </div>

          <div class="text-center p-3 p-md-5 bg-white">
            <div class="mb-4">            
              <img src="/images/person_1.jpg" alt="Image" class="w-50 mx-auto img-fluid rounded-circle">
            </div>
            <div class="text-black">
              <h3 class="font-weight-light h5">Steven Ericson</h3>
              <p class="font-italic">&ldquo;Providing garden views, Lem's coffee & apartment in Danang provides accommodations, free bikes, a bar, a shared lounge, a garden and a terrace.&rdquo;</p>
            </div>
          </div>

          <div class="text-center p-3 p-md-5 bg-white">
            <div class="mb-4">            
              <img src="/images/person_2.jpg" alt="Image" class="w-50 mx-auto img-fluid rounded-circle">
            </div>
            <div class="text-black">
              <h3 class="font-weight-light h5">Nathan Dumlao</h3>
              <p class="font-italic">&ldquo;Great studio room!! Loved everything about the room! Staff were beyond great! The location is a bit far from the main part of the beach but we knew this and doesn’t bother us as we love to walk!&rdquo;</p>
            </div>
          </div>

          <div class="text-center p-3 p-md-5 bg-white">
            <div class="mb-4">            
              <img src="/images/person_4.jpg" alt="Image" class="w-50 mx-auto img-fluid rounded-circle">
            </div>
            <div class="text-black">
              <h3 class="font-weight-light h5">Brook Smith</h3>
              <p class="font-italic">&ldquo;Phòng ốc sạch sẽ, view hướng ra biển và đi ra biển rất gần,trang thiết bị thoải mái và tiện nghi&rdquo;</p>
            </div>
          </div>

        </div>
      </div>
    </div>  
    

    
    

    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="site-section-heading text-center mb-5 w-border col-md-6 mx-auto" data-aos="fade-up">
            <h2 class="mb-5">News &amp; Events</h2>
            <p>Trong khoảng thời gian lưu trú, du khách sẽ tận hưởng và trải nghiệm nhiều dịch vụ độc đáo như bể bơi vô cực tại sân thượng, trung tâm thể dục, phòng xông hơi và khám phá sự kết hương vị ở các nước phương Tây, Châu Á tại tầng cao nhất </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
            <a href="single"><img src="/images/img_4.jpg" alt="Image" class="img-fluid"></a>
            <div class="p-4 bg-white">
              <span class="d-block text-secondary small text-uppercase">Jun 22th, 2020</span>
              <h2 class="h5 text-black mb-3"><a href="single">The Sunshine Apartments Da Nang</a></h2>
              
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
            <a href="single"><img src="/images/img_2.jpg" alt="Image" class="img-fluid"></a>
            <div class="p-4 bg-white">
              <span class="d-block text-secondary small text-uppercase">Jun 21th, 2020</span>
              <h2 class="h5 text-black mb-3"><a href="single">Olwen Home Đà Nẵng - Studio Near The Beach</a></h2>
              
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
            <a href="single"><img src="/images/img_3.jpg" alt="Image" class="img-fluid"></a>
            <div class="p-4 bg-white">
              <span class="d-block text-secondary small text-uppercase">Jun 20th, 2020</span>
              <h2 class="h5 text-black mb-3"><a href="single">Richico Luxury Apartel Ocean </a></h2>
              
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  </body>
</html>